@{
	ViewData["Title"] = "Services";
}

<section class="services">

	<div class="container my-5">
		<h1 class="text-dark font-weight-bold mb-5">Комплексное проектирование систем ОВиК</h1>

		<div class="row py-4">
			<div class="col-lg-4 mb-4 my-lg-auto">
				<p>
					<b>AVK Dizains </b> специализируется на разработке различных типов систем ОВиК для частного, коммерческого и промышленного секторов.
				</p>
				<p>
					Мы предоставляем комплексные консультационные услуги, начиная от традиционных систем отопления и вентиляции, и заканчивая уникальными проектами, такими как технологические трубопроводы, системы охлаждения, системы сжатого воздуха и системы рекуперации отходящего тепла, например тепло от компрессорных станций.
				</p>
				<p>
					Мы разработали системы ОВиК для различных жилых, коммерческих, промышленных зданий, заводов и торговых центров.
				</p>


				<a asp-controller="Home" asp-action="Contact" class="btn btn-outline-dark btn-lg mt-5">Свяжитесь с нами</a>


			</div>

			<div class="col-lg-8">
				<img src="~/content/images/Boilerhouse_770w.jpg" alt="" class="w-100 " />
			</div>
		</div>
	</div>
</section>

<!-- Start Fixed Background IMG -->

<section class="services">

	<div class="fixed-background mb-5">
		<div class="fixed-wrap">
			<div class="fixed">

			</div>
		</div>
	</div>

	<!-- End Fixed Background IMG -->
	<div class="container mb-5">
		<p>
			<strong>
				<span>Информационное моделирование зданий</span>
			</strong>
		</p>
		<p>
			В процессе проектирования всегда используются новейшие технологии. Мы следим за новыми технологиями в этой области и активно внедряем инновации в процесс проектирования для строительной отрасли. Кроме того, мы разрабатываем собственные шаблоны расчетов, моделирования и оформления чертежей, которые обеспечивают оптимальный рабочий процесс, соответствие самым строгим нормам строительной отрасли и энергоэффективные решения для наших клиентов.
		</p>
		<p>
			Основное программное обеспечение, используемое в информационном моделировании зданий (BIM), в себя включает:
		</p>
		<ul>
			<li>Revit</li>
			<li>MagiCAD</li>
			<li>AutoCAD</li>
			<li>Navisworks</li>
			<li>EnergyPlus</li>
		</ul>
		<div class="vl px-3">
			Реализованные проекты включают в себя отель Hampton by Hilton в Риге, торговый центр Maxima XX в Риге, различные производственные здания на атомной электростанции Ханхикиви 1 в Финляндии, терминал выгрузки серной кислоты на крупнейшей в Латвии электростанции TEC-2 в Риге, различные многоэтажные жилые дома, котельную на биомассе&nbsp;и&nbsp;т.&nbsp;д.
		</div>

	</div>
</section>


