@{
	ViewData["Title"] = "Projects";
}
<section class="projects">
	<div class="container my-5">
		<h1 class="text-dark font-weight-bold mb-5">Projects</h1>
		<h3 class="pb-1">Experience and knowledge of a wide range of projects ensures that our clients will get professional services in the field of the Heating, Ventilation and Air Conditioning design. We can fulfill the strictest quality requirements.</h3>


		<div class="row py-2">

			<div class="col-md-4 my-4">
				<img src="~/content/images/Hanhikivi-1_770w.jpg" alt="" class="w-100" />
				<h4 class="my-4">"Hanhikivi-1"</h4>
				<p>HVAC systems' design for the buildings of the construction site of the <b>Nuclear Power Plant "Hanhikivi 1"</b> in Finland. This is an example of complicated design of industrial buildings in accordance with Finnish standards and other design guidelines, e.g. nuclear industry standards.</p>

			</div>

			<div class="col-md-4 my-4">
				<img src="~/content/images/Hampton_770w.jpg" alt="" class="w-100" />
				<h4 class="my-4">"Hampton by Hilton"</h4>
				<p>HVAC design for the hotel <b>"Hampton by Hilton"</b> in Riga. Building mechanical systems were designed in accordance with strict Hilton standards. Mechanical systems include precise Climate control with air humidification and dehumidification.</p>

			</div>

			<div class="col-md-4 my-4">
				<img src="~/content/images/Maxima-XX_770w.jpg" alt="" class="w-100" />
				<h4 class="my-4">"Maxima XX"</h4>
				<p>HVAC systems's design for the shopping mall <b>"Maxima XX"</b>. Design includes Heating, Ventilation and Air Conditioning systems.</p>

			</div>

		</div>
		<div class="row py-2">

			<div class="col-md-4 my-2">
				<img src="~/content/images/TEC-2_sulfuric_acid_terminal_770w.jpg" alt="" class="w-100" />
				<h4 class="my-4">"TEC-2"</h4>
				<p>Sulfuric acid unload terminal design 30&nbsp;t. As part of the project, a pumping unit for receiving sulfuric acid was designed, as well as a pipeline for transporting sulfuric acid to the reservoir. The complexity of the project was that sulfuric acid has unique properties in terms of viscosity and density. The density of sulfuric acid is about 1.8 times that of water, the viscosity, in turn, depends on the concentration of the acid and has several maximum values throughout the temperature range.</p>

			</div>

			<div class="col-md-4 my-2">


			</div>

			<div class="col-md-4 my-2">


			</div>



		</div>
	</div>
</section>