@{
	ViewData["Title"] = "Services";
}

<section class="services">

	<div class="container my-5">
		<h1 class="text-dark font-weight-bold mb-5">Complete HVAC Design</h1>

		<div class="row py-4">
			<div class="col-lg-4 mb-4 my-lg-auto">
				<p>
					<b>AVK Dizains</b> specializes in designing various types of HVAC systems for private, commercial and industrial sectors.
				</p>
				<p>
					We provide comprehensive consulting services ranging from traditional heating systems and ventilation systems to unique projects like technological pipelines, cooling systems, compressed air systems and waste heat recovery systems, e.g. heat from compressor stations.
				</p>
				<p>
					We have designed HVAC systems for various residential, commercial, industrial buildings, factories and shopping centers.
				</p>


				<a asp-controller="Home" asp-action="Contact" class="btn btn-outline-dark btn-lg mt-5">Contact Us</a>


			</div>

			<div class="col-lg-8">
				<img src="~/content/images/Boilerhouse_770w.jpg" alt="" class="w-100 " />
			</div>
		</div>
	</div>
</section>

<!-- Start Fixed Background IMG -->

<section class="services">

	<div class="fixed-background mb-5">
		<div class="fixed-wrap">
			<div class="fixed">

			</div>
		</div>
	</div>

	<!-- End Fixed Background IMG -->
	<div class="container mb-5">
		<p>
			<strong>
				<span>Building Information Modeling</span>
			</strong>
		</p>
		<p>
			The latest technologies are always applied in the design process. We monitor new technologies within the field and actively implementing innovations into the design process for the construction industry. Also, we develop our own calculations, modeling and drafting templates, which ensure optimal workflow, compliance with the strictest regulations in the construction industry and energy efficient solutions for our customers.
		</p>
		<p>
			Primary software used in Building information modleing (BIM) includes:
		</p>
		<ul>
			<li>Revit</li>
			<li>MagiCAD</li>
			<li>AutoCAD</li>
			<li>Navisworks</li>
			<li>EnergyPlus</li>
		</ul>
		<div class="vl px-3">
			Projects include hotel Hampton by Hilton in Riga, shopping center Maxima XX in Riga, various industrial buildings at Hanhikivi 1 nuclear power plant in Finland, sulfuric acid unload terminal at the biggest in Latvia power station TEC-2, various multistory residential buildings, biomass boiler plant etc.
		</div>

	</div>
</section>


