
@{
	ViewData["Title"] = "About";
}

<section class="about">
	<div class="container my-5">
		<div class="row py-4">
			<div class="col-lg-8 mb-4 my-lg-auto">
				<h3><b>AVK Dizains</b> это персональный вебсайт</h3>
				<h1 class="text-dark font-weight-bold mb-3">Константин Романов</h1>
				<h3 class="pb-3">Инженер проектировщик ОВиК</h3>
				<p>
					“Я имею степень Магистра (MSc) и являюсь LSGŪTIS (Латвийское Общество Инженеров Технологий Тепла, Газа и Воды) сертифицированным инженером проектировщиком систем ОВиК. Моё последнее место работы было в инженерном бюро “Būve un Forma” группы “UPB”, где занимал должность старшего инженера проектировщика и руководителя отдела систем ОВиК. Также я являлся одним из стратегов по развитию BIM технологий компании.
				</p>
				<p>
					До этого, работая в компании “Siltumelektroprojekts”, или сокращённо “SEP” (компания была основана в 1952 году, как Рижский филиал проектного института “Теплоэлектропроект”), я участвовал в проектировании систем ОВиК при поддержке строительства атомной электростанции “Hanhikivi-1” в Финляндии, в качестве старшего инженера проектировщика и руководителя отдела систем ОВиК. Ранее я участвовал в проектировании приёмного терминала серной кислоты на крупнейшей в Латвии электростанции “TEC-2” в Риге, где мы применили при проектировании нестандартные инновативые решения. Мне нравится, когда необходимо решать сложные инженерные задачи и я всегда стараюсь выложиться на 100% в работе, которую делаю.
				</p>
				<p>
					Моя страсть к инженерии появилась ещё в моём детстве, когда мой отец приводил меня с собой на работу. Он был ответственным за всё энергетическое хозяйство огромного текстильного предприятия “Lauma”. Вообще то я являюсь инженером в третьем поколении, я верю, что это в моей крови.”
				</p>



			</div>

			<div class="col-lg-4">
				<img src="~/content/images/konstantin.jpg" alt="" class="w-100 " />

			</div>

		</div>
	</div>


</section>