@{
	ViewData["Title"] = "Contact";
}

<section class="contact">
	<div class="container my-5">
		<h1 class="text-dark font-weight-bold mb-5">Свяжитесь с нами!</h1>

		<div class="row py-4">
			<div class="col-lg-4 mb-4 my-lg-auto">

				<h3>Константин Романов</h3><br />
				инженер проектировщик ОВиК<br />

				<address>

					AVK Dizains<br />
					Рига, LV-1013<br />
					<abbr title="Phone">Т: </abbr>
					&#43;&#51;&#55;&#49;&#50;&#48;&#50;&#48;&#48;&#49;&#50;&#48;

					<p>эл. почта: <a href="mailto:&#107;&#111;&#110;&#115;&#116;&#97;&#110;&#116;&#105;&#110;&#115;&#64;&#97;&#118;&#107;&#100;&#105;&#122;&#97;&#105;&#110;&#115;&#46;&#108;&#118;">&#107;&#111;&#110;&#115;&#116;&#97;&#110;&#116;&#105;&#110;&#115;&#64;&#97;&#118;&#107;&#100;&#105;&#122;&#97;&#105;&#110;&#115;&#46;&#108;&#118;</a></p>

					<p>
						Сканировать контакт<br />
						в телефонную книжку:
					</p>
					<img src="~/content/images/Avkdizains-qr-code.svg" alt="AVK Dizains QR Code" class="qr-code" />

				</address>
			</div>

			<div class="col-lg-8">
				<img src="~/content/images/Group-of-pumps_770w.jpg" alt="" class="w-100 " />
			</div>

		</div>
	</div>

</section>