@model KonstantinHVACweb.ViewModels.Home.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<section class="about">
    <div class="container my-5">
        <h1 class="text-danger">Something went wrong.</h1>
        <h2 class="text-danger">There is a mistake in your requested page.</h2>

        <strong>Request mistake:</strong> <code>@Model.ErrorCode</code>
    </div>
</section>
