@{
	ViewData["Title"] = "Projects";
}
<section class="projects">
	<div class="container my-5">
		<h1 class="text-dark font-weight-bold mb-5">Проекты</h1>
		<h3 class="pb-1">Опыт и знания широкого спектра проектов гарантирует, что наши клиенты получат профессиональные услуги в области проектирования отопления, вентиляции и кондиционирования воздуха. Мы можем выполнить самые строгие требования к качеству.</h3>


		<div class="row py-2">

			<div class="col-md-4 my-4">
				<img src="~/content/images/hanhikivi-1.jpg" alt="" class="w-100" />
				<h4 class="my-4">"Hanhikivi-1"</h4>
				<p>Проектирование систем ОВиК для зданий строительной площадки <b> Атомной Электростанции "Ханхикиви&nbsp;1"</b> в Финляндии. Это пример сложных проектов промышленных зданий в соответствии с финскими стандартами и другими принципами проектирования, например стандартами атомной отрасли.</p>

			</div>

			<div class="col-md-4 my-4">
				<img src="~/content/images/hampton.jpg" alt="" class="w-100" />
				<h4 class="my-4">"Hampton by Hilton"</h4>
				<p>Проектирование ОВиК для гостиницы <b>Hampton by Hilton</b> в Риге. Механические системы здания, были спроектированы в соответствии со строгими стандартами Hilton. Механические системы включают в себя точный климат-контроль с увлажнением и осушением воздуха.</p>

			</div>

			<div class="col-md-4 my-4">
				<img src="~/content/images/maxima.jpg" alt="" class="w-100" />
				<h4 class="my-4">"Maxima XX"</h4>
				<p>Проектирование систем отопления, вентиляции и кондиционирования воздуха для торгового центра <b>"Максима&nbsp;XX"</b>. Проект включает в себя системы отопления, вентиляции и кондиционирования воздуха.</p>

			</div>

		</div>
		<div class="row py-2">

			<div class="col-md-4 my-2">
				<img src="~/content/images/tec-2_sulfuric_acid_terminal_770w.jpg" alt="" class="w-100" />
				<h4 class="my-4">"TEC-2"</h4>
				<p>Проектирование разгрузочного терминала серной кислоты 30&nbsp;т. В рамках проекта был спроектирован насосный узел приёма серной кислоты, а также трубопровод для транспортировки серной кислоты в резервуар. Сложность проекта заключалась в том, что серная кислота имеет уникальные свойства по вязкости и плотности. Плотность серной кислоты примерно в 1.8 раза больше плотности воды, вязкость, в свою очередь, зависит от концентрации кислоты и имеет несколько максимальных значений на протяжении температурного диапазона.</p>

			</div>

			<div class="col-md-4 my-2">


			</div>

			<div class="col-md-4 my-2">


			</div>


		</div>
	</div>
</section>