@{
    ViewData["Title"] = "Contact";
}

@{ 
    ViewData["Message"] = "If you have any quastions feel free to reach me out!";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    All HVAC<br />
    Riga, LV-1013<br />
    <abbr title="Phone">P: </abbr>
    +37120200120
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">konstantin.hvac@gmail.com</a>
    
</address>
