
@{
	ViewData["Title"] = "About";
}

<section class="about">
	<div class="container my-5">
		<div class="row py-4">
			<div class="col-lg-8 mb-4 my-lg-auto">
				<h3><b>AVK Dizains</b> is a personal website of</h3>
				<h1 class="text-dark font-weight-bold mb-3">Konstantin Romanov</h1>
				<h3 class="pb-3">Mechanical Design Engineer</h3>
				<p>
					"I am an MSc qualified and LSGUTIS (Latvian society of Heat, Gas and Water technologies engineers) certified HVAC Design Engineer. My last position was Senior HVAC Engineer / Team Lead at the UPB Group's engineering company "Buve un Forma". Also, I was one of the company's BIM development strategists.
				</p>
				<p>
					Previously I worked in support of the Hanhikivi-1 Nuclear Power Plant project in Finland, where I was in charge of HVAC system design using BIM. I led the group of HVAC engineers. Earlier I participated in the Sulfuric Acid Unload Terminal reconstruction design project at the biggest Cogeneration Power Plant in Latvia TEC-2, where we applied innovative approach in the design. I do love, when tough engineering problems need to be solved and I am always striving to bring 100% of the work I do.
				</p>
				<p>
					My passion for engineering can be traced back to my childhood when my father used to take me to his job. He was in charge of all kind of energetics at large textile company “Lauma”. Actually, I am engineer in third generation, so I believe this is in my blood."
				</p>



			</div>

			<div class="col-lg-4">
				<img src="~/content/images/konstantin.jpg" alt="" class="w-100 " />

			</div>

		</div>
	</div>


</section>