
<section class="about">
    <div class="container my-5">
        <div class="row py-4">
            <div class="col-lg-8 mb-4 my-lg-auto">
                <h3><b>AVK Dizains</b> ir personīgā vietne</h3>
                <h1 class="text-dark font-weight-bold mb-3">Konstantīns Romanovs</h1>
                <h3 class="pb-3">Mehānisko sistēmu projektēšanas inženieris (AVK inženieris)</h3>
                <p>
                    “Es esmu LSGUTIS (Latvijas Siltuma, Gāzes un Ūdens Tehnoloģijas Inženieru Savienība) sertificēts AVK projektēšanas inženieris ar Maģistra grādu. Mans pēdējais amats bija vecākais AVK inženieris / nodaļas vadītājs inženieru birojā "Būve un Forma" (UPB grupa). Arī es biju viens no uzņēmuma BIM attīstības stratēģiem.
                </p>
                <p>
                    Iepriekš es strādāju pie Hanhikivi-1 atomelektrostacijas projekta Somijā, kur biju atbildīgs par AVK sistēmu projektēšanu, izmantojot BIM. Es vadīju AVK inženieru grupu. Pirms tam es piedalījos Sērskābes izkraušanas termināla rekonstrukcijas projektā Latvijas lielākajā koģenerācijas elektrostacijā TEC-2, kur projektā izmantojām inovatīvu risinājumu. Es patiešām mīlu, kad ir jāatrisina smagas inženiertehniskās problēmas, un es vienmēr cenšos piesaistīt darbam 100% no saviem spēkiem.
                </p>
                <p>
                    Mana aizraušanās ar inženieru tehnoloģijām sākas vēl manā bērnībā, kad mans tēvs ņēma mani līdzi uz viņa darbu. Viņš bija atbildīgs par visa veida enerģētiku lielajā tekstila uzņēmumā “Lauma”. Patiesībā esmu inženieris trešajā paaudzē, tāpēc uzskatu, ka tas ir manās asinīs. "
                </p>



            </div>

            <div class="col-lg-4">
                <img src="~/content/images/konstantin.jpg" alt="" class="w-100 " />

            </div>

        </div>
    </div>


</section>