<section class="contact">
    <div class="container my-5">
        <h1 class="text-dark font-weight-bold mb-5">We are waiting for you!</h1>

        <div class="row py-4">
            <div class="col-lg-4 mb-4 my-lg-auto">

                <h2>Contact Us</h2>

                <address>

                    AVK Dizains<br />
                    Riga, LV-1013<br />
                    <abbr title="Phone">P: </abbr>
                    +37120200120

                    <p>email: <a href="mailto:Support@example.com">konstantin.hvac@gmail.com</a></p>

                </address>
            </div>

            <div class="col-lg-8">
                <img src="~/content/images/pumps.jpg" alt="" class="w-100 " />
            </div>

        </div>
    </div>

</section>