@{
  ViewData["Title"] = "Projekti";
}

<section class="projects">
  <div class="container my-5">
    <h1 class="text-dark font-weight-bold mb-5">Projekti</h1>

    <h3 class="pb-1">Pieredze un zināšanas iegūtas strādājot ar daudziem projektiem nodrošina, ka mūsu klienti saņem profesionālus pakalpojumus apkures, ventilācijas un gaisa kondicionēšanas projektēšanas jomā. Mēs varam izpildīt visstingrākās kvalitātes prasības.</h3>


    <div class="row py-2">

      <div class="col-md-4 my-4">
        <img src="~/content/images/Hanhikivi-1_770w.jpg" alt="" class="w-100" />
        <h4 class="my-4">"Hanhikivi-1"</h4>
        <p>AVK sistēmu projektēšana dažādām ēkām <b>atomelektrostacijas "Hanhikivi 1"</b> projekta ietvaros Somijā. Tas ir piemērs sarežģītu industriālu projektu īstenošanai, saskaņā ar Somijas standartiem un citām projektēšanas vadlīnijām, piem. atomindustrijas standartiem.</p>

      </div>

      <div class="col-md-4 my-4">
        <img src="~/content/images/Hampton_770w.jpg" alt="" class="w-100" />
        <h4 class="my-4">"Hampton by Hilton"</h4>
        AVK projekts viesnīcai <b>"Hampton by Hilton"</b> Rīgā. Ēku mehāniskās sistēmas, kuru projektēšana notika saskaņā ar stingriem Hilton standartiem. Mehāniskās sistēmas ietver precīzu klimata kontroli ar gaisa mitrināšanu un sausināšanu.</p>

      </div>

      <div class="col-md-4 my-4">
        <img src="~/content/images/Maxima-XX_770w.jpg" alt="" class="w-100" />
        <h4 class="my-4">"Maxima XX"</h4>
        <p>AVK sistēmu projekts tirdzniecības centram <b>"Maxima XX"</b>. Projekts sevī ietver apkures, ventilācijas un gaisa kondicionēšanas sistēmas.</p>

      </div>

    </div>
    <div class="row py-2">

      <div class="col-md-4 my-2">
        <img src="~/content/images/TEC-2_sulfuric_acid_terminal_770w.jpg" alt="" class="w-100" />
        <h4 class="my-4">"TEC-2"</h4>
        <p>Sērskābes izkraušanas termināla projekts 30&nbsp;t. Projekta ietvaros tika izstrādāta sūkņu mezgls sērskābes parsūknēšanai, kā arī cauruļvads sērskābes transportēšanai uz rezervuāru. Projekta sarežģītība bija saistīta ar to, ka sērskābei ir unikālas īpašības viskozitātes un blīvuma ziņā. Sērskābes blīvums ir aptuveni 1,8 reizes lielāks par ūdens blīvumu, savukārt viskozitāte ir atkarīga no skābes koncentrācijas, un tai ir vairākas maksimālās vērtības temperatūras diapazonā.</p>

      </div>

      <div class="col-md-4 my-2">


      </div>

      <div class="col-md-4 my-2">


      </div>



    </div>

    <div class="col-12 my-4 text-right">
      <a asp-controller="Home" asp-action="Services" class="btn btn-outline-dark btn-md">Pakalpojumi</a>
    </div>

  </div>
</section>