
@{
    ViewBag.Current = "Projects";
}

<section class="projects">
    <div class="container my-5">
        <h1 class="text-dark font-weight-bold mb-5">Projekti</h1>

        <h3 class="pb-1">Pieredze un zināšanas iegūtas strādājot ar daudziem projektiem nodrošina, ka mūsu klienti saņem profesionālus pakalpojumus apkures, ventilācijas un gaisa kondicionēšanas projektēšanas jomā. Mēs varam izpildīt visstingrākās kvalitātes prasības.</h3>


        <div class="row py-5">

            <div class="col-md-4 my-4">
                <img src="~/content/images/hanhikivi-1.jpg" alt="" class="w-100" />
                <h4 class="my-4">"Hanhikivi-1"</h4>
                <p>AVK sistēmu projektēšana dažādām ēkām <b>atomelektrostacijas "Hanhikivi 1"</b> projekta ietvaros Somijā. Tas ir piemērs sarežģītu industriālu projektu īstenošanai, saskaņā ar Somijas standartiem un citām projektēšanas vadlīnijām, piem. atomindustrijas standartiem.</p>

            </div>

            <div class="col-md-4 my-4">
                <img src="~/content/images/hampton.jpg" alt="" class="w-100" />
                <h4 class="my-4">AVK projekts viesnīcai <b>"Hampton by Hilton"</b> Rīgā. Ēku mehāniskās sistēmas, kuru projektēšana notika saskaņā ar stingriem Hilton standartiem. Mehāniskās sistēmas ietver precīzu klimata kontroli ar gaisa mitrināšanu un sausināšanu.</p>

</div>

            <div class="col-md-4 my-4">
                <img src="~/content/images/maxima.jpg" alt="" class="w-100" />
                <h4 class="my-4">"Maxima XX"</h4>
                <p>AVK sistēmu projekts tirdzniecības centram <b>"Maxima XX"</b>. Projekts sevī ietver apkures, ventilācijas un gaisa kondicionēšanas sistēmas.</p>

            </div>

        </div>

    </div>
</section>