@{
  ViewData["Title"] = "Pakalpojumi";
}

<section class="services">

  <div class="container my-5">
    <h1 class="text-dark font-weight-bold mb-5">Kompleksā AVK projektēšana</h1>

    <div class="row py-4">
      <div class="col-lg-4 mb-4 my-lg-auto">
        <p>
          <b>AVK Dizains</b> specializējas dažādu veidu AVK sistēmu projektēšanā privātajam, komerciālajam un rūpnieciskajam sektoram..
        </p>
        <p>
          Mēs piedāvājam plašus konsultāciju pakalpojumus, sākot no tradicionālām apkures un ventilācijas sistēmām līdz unikāliem projektiem, piemēram, tehnoloģiskiem cauruļvadiem, dzesēšanas sistēmām, saspiesta gaisa sistēmām un siltuma reģenerācijas sistēmām, piem. siltums no kompresoru stacijām.
        </p>
        <p>
          Mēs esam izstrādājuši AVK sistēmas dažādām dzīvojamām, komerciālām, industriālajām ēkām, rūpnīcām un tirdzniecības centriem.
        </p>

      </div>

      <div class="col-lg-8">
        <img src="~/content/images/Boilerhouse_770w.jpg" alt="" class="w-100 " />
      </div>
    </div>
  </div>
</section>

<!-- Start Fixed Background IMG -->

<section class="services">

  <div class="fixed-background mb-5">
    <div class="fixed-wrap">
      <div class="fixed">

      </div>
    </div>
  </div>

  <!-- End Fixed Background IMG -->
  <div class="container mb-5">
    <p>
      <strong>
        <span>Ēkas informācijas modelēšana</span>
      </strong>
    </p>
    <p>
      Projektēšanas procesā vienmēr tiek izmantotas jaunākās tehnoloģijas. Mēs sekojām janājām tehnoloģijām līdzi šajā jomā un aktīvi ieviešam jauninājumus būvniecības nozares projektēšanas procesā. Mēs arī izstrādājam paši savus aprēķinus, modelēšanu un rasēšanas šablonus, kas nodrošina optimālu darba plūsmu, stingrāko būvniecības noteikumu ievērošanu un energoefektīvus risinājumus mūsu klientiem.
    </p>
    <p>
      Galvenā programmatūra, ko izmanto ēkas informācijas modelēšanā (BIM), ietver:
    </p>
    <ul>
      <li>Revit</li>
      <li>MagiCAD</li>
      <li>AutoCAD</li>
      <li>Navisworks</li>
      <li>EnergyPlus</li>
    </ul>
    <div class="vl px-3">
      Projekti ietver viesnīcu Hampton by Hilton Rīgā, tirdzniecības centru Maxima XX Rīgā, dažādas industriālās ēkas Hanhikivi 1 atomelektrostacijas projektā Somijā, sērskābes izkraušanas termināli lielākajā Latvijas elektrostacijā TEC-2, dažādas daudzstāvu dzīvojamās ēkas, biomasas katlu mājām utt.
    </div>

    <a asp-controller="Home" asp-action="Contact" class="btn btn-outline-dark btn-lg mt-5">Sazinieties ar mums</a>

  </div>
</section>


