@model KonstantinHVACweb.ViewModels.Home.ErrorViewModel
@{
	ViewData["Title"] = "Kļūda";
}
<section class="about">
	<div class="container my-5">
		<h1 class="text-danger">Kaut kas #navLabi.</h1>
		<h2 class="text-danger">Tika atrasta kļūda Jūsu pieprasītā lapā.</h2>

		<strong>Pieprasījuma kļūda:</strong> <code>@Model.ErrorCode</code>
	</div>
</section>
